body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  text-align: center;
  margin: auto;
}
.logo {
  width: 150pt;
  margin-bottom: 1rem;
}
article {
  counter-reset: css-counter 0;
}
article p {
  position: relative;
}
.step {
  z-index: 0;
  position: relative;
  counter-increment: css-counter 1;
}
.step::before {
  color: #800020;
  content: counter(css-counter);
  font-size: 6rem;
  font-weight: 400;
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
}