<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <title>{{ page.title }}: {{ page.heading }}</title>
  </head>
  <body>
    <header>
      <div class="container center">
        <img src="/assets/color-logo.svg" width="150px" class="logo" />
        <br /> <br />
        <h1>{{ page.heading }}</h1>
      </div>
    </header>
    <main class="container">

      <article>
        {{ content }}
      </article>

    </main>
  </body>
</html>